## The purpose of this Jupyter Notebook is to load all the created ATAR, ICSEA & NAPLAN Dataframes/tables to the PostgreSQL database

In [73]:
# import the required libraries
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import username, password

In [74]:
# assign the csv files which where created previously to a variable
naplan = "Resources/wa_hs_naplan_ratings_2019.csv"
atar_2016 = "Resources/wa_hs_atar_2016.csv"
atar_2017 = "Resources/wa_hs_atar_2017.csv"
atar_2018 = "Resources/wa_hs_atar_2018.csv"
atar_2019 = "Resources/wa_hs_atar_2019.csv"
atar_2020 = "Resources/wa_hs_atar_2020.csv"
icsea_2016 = "Resources/wa_hs_icsea_2016.csv"
icsea_2017 = "Resources/wa_hs_icsea_2017.csv"
icsea_2018 = "Resources/wa_hs_icsea_2018.csv"
icsea_2019 = "Resources/wa_hs_icsea_2019.csv"

In [75]:
# read the "wa_hs_naplan_ratings_full" csv file
naplan_df = pd.read_csv(naplan)
naplan_df

,School,Year,Rank,Level,Reading,Writing,Spelling,Grammar,Numeracy,Average,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2019,1,Year 9,694,667,695,704,729,697.8,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,St Hilda's Anglican School for Girls,2019,2,Year 9,649,636,631,644,652,642.4,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
2,Presbyterian Ladies' College,2019,3,Year 9,641,633,636,637,658,641.0,Peppermint Grove,115.764906,-31.993592,Non-government,Girls,Uniting
3,St Mary's Anglican Girls' School,2019,4,Year 9,640,631,634,637,657,639.8,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
4,Rehoboth Christian College,2019,5,Year 9,633,605,637,641,654,634.0,Kenwick,115.977924,-32.031619,Non-government,Co-ed,Christian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Mindarie Senior College,2019,189,Year 9,0,0,0,0,0,0.0,Mindarie,115.706050,-31.676979,Non-government,Co-ed,Catholic
189,Our Lady of Mercy College,2019,190,Year 9,0,0,0,0,0,0.0,Australind,115.740064,-33.270941,Non-government,Co-ed,Catholic
190,Sevenoaks Senior College,2019,191,Year 9,0,0,0,0,0,0.0,Cannington,115.942305,-32.012479,Government,Co-ed,Secular
191,Western Australian College Of Agriculture - Cu...,2019,192,Year 9,0,0,0,0,0,0.0,Cunderdin,117.230704,-31.626847,Government,Co-ed,Secular
192,Woodthorpe School,2019,193,Year 9,0,0,0,0,0,0.0,Willetton,115.901720,-32.056540,Non-government,Co-ed,Brethren Christian

In [76]:
# read the "wa_hs_atar_2016" csv file
atar_2016_df = pd.read_csv(atar_2016)
atar_2016_df

,School,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2016,1,95.55,222,220,99.10,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,Presbyterian Ladies' College,2016,2,92.90,122,110,90.16,Peppermint Grove,115.764906,-31.993592,Non-government,Girls,Uniting
2,Penrhos College,2016,3,92.65,145,123,84.83,Como,115.872539,-31.997431,Non-government,Girls,Uniting
3,Christ Church Grammar School,2016,4,92.50,188,171,90.96,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
4,Santa Maria College,2016,5,91.85,189,151,79.89,Attadale,115.795823,-32.018614,Non-government,Girls,Catholic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Thornlie Senior High School,2016,139,58.45,125,35,28.00,Thornlie,115.959641,-32.066276,Government,Co-ed,Secular
139,Lakeland Senior High School,2016,140,57.70,89,27,30.34,South Lake,115.845914,-32.109055,Government,Co-ed,Secular
140,Newton Moore Senior High School,2016,141,56.95,90,35,38.89,South Bunbury,115.635421,-33.359211,Government,Co-ed,Secular
141,Foundation Christian College,2016,142,50.65,35,26,74.29,Greenfields,115.762289,-32.529316,Non-government,Co-ed,Christian
142,Warnbro Community High School,2016,143,45.30,171,48,28.07,Warnbro,115.759096,-32.345569,Government,Co-ed,Secular

In [77]:
# read the "wa_hs_atar_2017" csv file
atar_2017_df = pd.read_csv(atar_2017)
atar_2017_df

,School,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2017,1,95.90,223,222,99.55,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,St Hilda's Anglican School for Girls,2017,2,93.60,142,133,93.66,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
2,Christ Church Grammar School,2017,3,92.45,182,159,87.36,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
3,Penrhos College,2017,4,91.20,139,119,85.61,Como,115.872539,-31.997431,Non-government,Girls,Uniting
4,St Mary's Anglican Girls' School,2017,5,90.95,174,157,90.23,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Butler College,2017,142,57.25,214,71,33.18,Butler,115.708701,-31.651664,Government,Co-ed,Secular
142,Warnbro Community High School,2017,143,56.35,99,21,21.21,Warnbro,115.759096,-32.345569,Government,Co-ed,Secular
143,Safety Bay Senior High School,2017,144,56.05,130,31,23.85,Safety Bay,115.740964,-32.303286,Government,Co-ed,Secular
144,Southern River College,2017,145,55.40,96,24,25.00,Gosnells,115.979918,-32.085598,Government,Co-ed,Secular
145,Hedland Senior High School,2017,146,52.45,90,29,32.22,South Hedland,118.598616,-20.398789,Government,Co-ed,Secular

In [78]:
# read the "wa_hs_atar_2018" csv file
atar_2018_df = pd.read_csv(atar_2018)
atar_2018_df

,School,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2018,1,97.00,240,236,98.33,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,Carmel School,2018,2,92.60,33,31,93.94,Dianella,115.862075,-31.899107,Non-government,Co-ed,Jewish
2,St Mary's Anglican Girls' School,2018,3,92.10,175,150,85.71,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
3,Methodist Ladies' College,2018,4,92.00,139,133,95.68,Claremont,115.775540,-31.987012,Non-government,Girls,Methodist
4,St Hilda's Anglican School for Girls,2018,5,91.65,141,135,95.74,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Newton Moore Senior High School,2018,144,55.55,81,29,35.80,South Bunbury,115.635421,-33.359211,Government,Co-ed,Secular
144,Northam Senior High School,2018,145,53.70,88,27,30.68,Northam,116.667649,-31.647256,Government,Co-ed,Secular
145,Dalyellup College,2018,146,51.90,70,29,41.43,Dalyellup,115.625767,-33.403855,Government,Co-ed,Secular
146,Rockingham Senior High School,2018,147,47.90,98,22,22.45,Rockingham,115.735520,-32.284952,Government,Co-ed,Secular
147,Western Australian College Of Agriculture - Cu...,2018,148,32.50,61,22,36.07,Cunderdin,117.230704,-31.626847,Government,Co-ed,Secular

In [79]:
# read the "atar_2019" csv file
atar_2019_df = pd.read_csv(atar_2019)
atar_2019_df

,School,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2019,1,96.75,241,238,98.76,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,Hale School,2019,2,92.85,201,177,88.06,Wembley Downs,115.783783,-31.912322,Non-government,Boys,Anglican
2,Christ Church Grammar School,2019,3,92.50,199,178,89.45,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
3,St Mary's Anglican Girls' School,2019,4,91.15,161,137,85.09,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
4,Presbyterian Ladies' College,2019,5,90.75,123,116,94.31,Peppermint Grove,115.764906,-31.993592,Non-government,Girls,Uniting
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Warwick Senior High School,2019,138,60.80,77,24,31.17,Warwick,115.815429,-31.838675,Government,Co-ed,Secular
138,Byford Secondary College,2019,139,60.00,134,45,33.58,Byford,116.001879,-32.223432,Government,Co-ed,Secular
139,Hedland Senior High School,2019,140,55.95,80,21,26.25,South Hedland,118.598616,-20.398789,Government,Co-ed,Secular
140,Merredin College,2019,141,55.20,54,23,42.59,Merredin,118.284982,-31.488090,Government,Co-ed,Secular
141,Joseph Banks Secondary College,2019,142,41.85,171,68,39.77,Banksia Grove,115.796591,-31.698674,Government,Co-ed,Secular

In [80]:
# read the "atar_2020" csv file
atar_2020_df = pd.read_csv(atar_2020)
atar_2020_df

,School,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2020,1,97.55,242,242,100.00,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,St Hilda's Anglican School for Girls,2020,2,92.70,147,134,91.16,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
2,Christ Church Grammar School,2020,3,92.50,190,175,92.11,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
3,Penrhos College,2020,4,90.65,135,116,85.93,Como,115.872539,-31.997431,Non-government,Girls,Uniting
4,Methodist Ladies' College,2020,5,90.55,126,112,88.89,Claremont,115.775540,-31.987012,Non-government,Girls,Methodist
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Balcatta Senior High School,2020,135,60.40,76,20,26.32,Balcatta,115.812243,-31.875517,Government,Co-ed,Secular
135,Safety Bay Senior High School,2020,136,58.75,115,23,20.00,Safety Bay,115.740964,-32.303286,Government,Co-ed,Secular
136,Darling Range Sports College,2020,137,52.40,129,44,34.11,Forrestfield,116.010860,-31.975661,Government,Co-ed,Secular
137,Gilmore College,2020,138,52.25,141,23,16.31,Orelia,115.814803,-32.238266,Government,Co-ed,Secular
138,Cecil Andrews College,2020,139,49.85,77,20,25.97,Armadale,115.991883,-32.141187,Government,Co-ed,Secular

In [81]:
# read the "wa_hs_icsea_2016" csv file
icsea_2016_df = pd.read_csv(icsea_2016)
icsea_2016_df

,School,Year,Rank,Postcode,State Overall Score,Total Enrolments,ICSEA,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2016,1,6008,100,1336,1239,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,Christ Church Grammar School,2016,2,6010,100,1663,1180,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
2,International School of Western Australia,2016,3,6015,100,235,1182,Doubleview,115.777620,-31.898500,Government,Co-ed,Secular
3,Hale School,2016,4,6019,100,1486,1165,Wembley Downs,115.783783,-31.912322,Non-government,Boys,Anglican
4,St Mary's Anglican Girls' School,2016,5,6018,99,1385,1158,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Bunbury Catholic College,2016,68,6230,91,1370,1035,Bunbury,115.661424,-33.343422,Non-government,Co-ed,Catholic
68,St Norbert College,2016,69,6107,90,890,1044,Queens Park,115.940344,-32.004364,Non-government,Co-ed,Catholic
69,Kalbarri District High School,2016,70,6536,90,220,988,Kalbarri,114.163881,-27.712788,Government,Co-ed,Secular
70,Tranby College,2016,71,6171,90,884,1066,Baldivis,115.800243,-32.340570,Non-government,Co-ed,Uniting
71,Denmark Senior High School,2016,72,6333,90,401,1038,Denmark,117.364584,-34.957414,Government,Co-ed,Secular

In [82]:
# read the "wa_hs_icsea_2017" csv file
icsea_2017_df = pd.read_csv(icsea_2017)
icsea_2017_df

,School,Year,Rank,Postcode,State Overall Score,Total Enrolments,ICSEA,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2017,1,6008,100,1371,1239,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,International School of Western Australia,2017,2,6015,100,270,1182,Doubleview,115.777620,-31.898500,Government,Co-ed,Secular
2,Hale School,2017,3,6019,100,1489,1165,Wembley Downs,115.783783,-31.912322,Non-government,Boys,Anglican
3,Methodist Ladies' College,2017,4,6010,100,1151,1150,Claremont,115.775540,-31.987012,Non-government,Girls,Methodist
4,Christ Church Grammar School,2017,5,6010,100,1651,1180,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Bruce Rock District High School,2017,85,6418,90,142,952,Bruce Rock,118.147663,-31.873635,Government,Co-ed,Secular
85,Ashdale Secondary College,2017,86,6065,90,1536,1030,Darch,115.841495,-31.811623,Government,Co-ed,Secular
86,St Mary Mackillop College,2017,87,6280,90,1252,1045,Busselton,115.330251,-33.662607,Non-government,Co-ed,Catholic
87,Ellenbrook Christian College,2017,88,6069,90,553,1043,Ellenbrook,115.959178,-31.786783,Non-government,Co-ed,Christian
88,Margaret River Senior High School,2017,89,6285,90,991,1037,Margaret River,115.074671,-33.954318,Government,Co-ed,Secular

In [83]:
# read the "wa_hs_icsea_2018" csv file
icsea_2018_df = pd.read_csv(icsea_2018)
icsea_2018_df

,School,Year,Rank,Postcode,State Overall Score,Total Enrolments,ICSEA,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2018,1,6008,100,1411,1239,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,Christ Church Grammar School,2018,2,6010,100,1644,1180,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
2,Hale School,2018,3,6019,100,1504,1165,Wembley Downs,115.783783,-31.912322,Non-government,Boys,Anglican
3,Rossmoyne Senior High School,2018,4,6148,100,2122,1121,Rossmoyne,115.870546,-32.046265,Government,Co-ed,Secular
4,St Hilda's Anglican School for Girls,2018,5,6012,100,1121,1197,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Mandurah Baptist College,2018,89,6180,90,1174,1051,Lakelands,115.760118,-32.478307,Non-government,Co-ed,Baptist
89,Ashdale Secondary College,2018,90,6065,90,1597,1030,Darch,115.841495,-31.811623,Government,Co-ed,Secular
90,St Mary Mackillop College,2018,91,6280,90,1326,1045,Busselton,115.330251,-33.662607,Non-government,Co-ed,Catholic
91,John Wollaston Anglican Community School,2018,92,6111,90,897,1054,Camillo,116.007834,-32.104726,Non-government,Co-ed,Anglican
92,Bunbury Catholic College,2018,93,6230,90,1415,1035,Bunbury,115.661424,-33.343422,Non-government,Co-ed,Catholic

In [84]:
# read the "wa_hs_icsea_2019" csv file
icsea_2019_df = pd.read_csv(icsea_2019)
icsea_2019_df

,School,Year,Rank,Postcode,State Overall Score,Total Enrolments,ICSEA,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2019,1,6008,100,1418,1239,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,St Hilda's Anglican School for Girls,2019,2,6012,100,1087,1197,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
2,Christ Church Grammar School,2019,3,6010,100,1646,1180,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
3,Rossmoyne Senior High School,2019,4,6148,100,2188,1121,Rossmoyne,115.870546,-32.046265,Government,Co-ed,Secular
4,St Mary's Anglican Girls' School,2019,5,6018,100,1414,1158,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Swan Valley Anglican Community School,2019,90,6069,90,1031,1045,Aveley,115.985452,-31.794345,Non-government,Co-ed,Anglican
90,Boyup Brook District High School,2019,91,6244,90,162,1002,Boyup Brook,116.391338,-33.836347,Government,Co-ed,Secular
91,Mater Dei College,2019,92,6027,90,804,1055,Edgewater,115.776519,-31.764660,Non-government,Co-ed,Catholic
92,Emmanuel Catholic College,2019,93,6164,90,1061,1036,Success,115.840070,-32.128578,Non-government,Co-ed,Catholic
93,Emmanuel Christian Community School,2019,94,6064,90,552,980,Girrawheen,115.848262,-31.846204,Non-government,Co-ed,Christian

In [85]:
# set the column "School" as the index for the "naplan_df" Dataframe
naplan_db = naplan_df.set_index('School')
naplan_db

,Year,Rank,Level,Reading,Writing,Spelling,Grammar,Numeracy,Average,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,,,,
Perth Modern School,2019,1,Year 9,694,667,695,704,729,697.8,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
St Hilda's Anglican School for Girls,2019,2,Year 9,649,636,631,644,652,642.4,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
Presbyterian Ladies' College,2019,3,Year 9,641,633,636,637,658,641.0,Peppermint Grove,115.764906,-31.993592,Non-government,Girls,Uniting
St Mary's Anglican Girls' School,2019,4,Year 9,640,631,634,637,657,639.8,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
Rehoboth Christian College,2019,5,Year 9,633,605,637,641,654,634.0,Kenwick,115.977924,-32.031619,Non-government,Co-ed,Christian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mindarie Senior College,2019,189,Year 9,0,0,0,0,0,0.0,Mindarie,115.706050,-31.676979,Non-government,Co-ed,Catholic
Our Lady of Mercy College,2019,190,Year 9,0,0,0,0,0,0.0,Australind,115.740064,-33.270941,Non-government,Co-ed,Catholic
Sevenoaks Senior College,2019,191,Year 9,0,0,0,0,0,0.0,Cannington,115.942305,-32.012479,Government,Co-ed,Secular
Western Australian College Of Agriculture - Cunderdin,2019,192,Year 9,0,0,0,0,0,0.0,Cunderdin,117.230704,-31.626847,Government,Co-ed,Secular
Woodthorpe School,2019,193,Year 9,0,0,0,0,0,0.0,Willetton,115.901720,-32.056540,Non-government,Co-ed,Brethren Christian

In [86]:
# set the column "School" as the index for the "atar_2016_df" Dataframe
atar_2016_db = atar_2016_df.set_index('School')
atar_2016_db

,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2016,1,95.55,222,220,99.10,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
Presbyterian Ladies' College,2016,2,92.90,122,110,90.16,Peppermint Grove,115.764906,-31.993592,Non-government,Girls,Uniting
Penrhos College,2016,3,92.65,145,123,84.83,Como,115.872539,-31.997431,Non-government,Girls,Uniting
Christ Church Grammar School,2016,4,92.50,188,171,90.96,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
Santa Maria College,2016,5,91.85,189,151,79.89,Attadale,115.795823,-32.018614,Non-government,Girls,Catholic
...,...,...,...,...,...,...,...,...,...,...,...,...
Thornlie Senior High School,2016,139,58.45,125,35,28.00,Thornlie,115.959641,-32.066276,Government,Co-ed,Secular
Lakeland Senior High School,2016,140,57.70,89,27,30.34,South Lake,115.845914,-32.109055,Government,Co-ed,Secular
Newton Moore Senior High School,2016,141,56.95,90,35,38.89,South Bunbury,115.635421,-33.359211,Government,Co-ed,Secular
Foundation Christian College,2016,142,50.65,35,26,74.29,Greenfields,115.762289,-32.529316,Non-government,Co-ed,Christian
Warnbro Community High School,2016,143,45.30,171,48,28.07,Warnbro,115.759096,-32.345569,Government,Co-ed,Secular

In [87]:
# set the column "School" as the index for the "atar_2017_df" Dataframe
atar_2017_db = atar_2017_df.set_index('School')
atar_2017_db

,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2017,1,95.90,223,222,99.55,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
St Hilda's Anglican School for Girls,2017,2,93.60,142,133,93.66,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
Christ Church Grammar School,2017,3,92.45,182,159,87.36,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
Penrhos College,2017,4,91.20,139,119,85.61,Como,115.872539,-31.997431,Non-government,Girls,Uniting
St Mary's Anglican Girls' School,2017,5,90.95,174,157,90.23,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...
Butler College,2017,142,57.25,214,71,33.18,Butler,115.708701,-31.651664,Government,Co-ed,Secular
Warnbro Community High School,2017,143,56.35,99,21,21.21,Warnbro,115.759096,-32.345569,Government,Co-ed,Secular
Safety Bay Senior High School,2017,144,56.05,130,31,23.85,Safety Bay,115.740964,-32.303286,Government,Co-ed,Secular
Southern River College,2017,145,55.40,96,24,25.00,Gosnells,115.979918,-32.085598,Government,Co-ed,Secular
Hedland Senior High School,2017,146,52.45,90,29,32.22,South Hedland,118.598616,-20.398789,Government,Co-ed,Secular

In [88]:
# set the column "School" as the index for the "atar_2018_df" Dataframe
atar_2018_db = atar_2018_df.set_index('School')
atar_2018_db

,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2018,1,97.00,240,236,98.33,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
Carmel School,2018,2,92.60,33,31,93.94,Dianella,115.862075,-31.899107,Non-government,Co-ed,Jewish
St Mary's Anglican Girls' School,2018,3,92.10,175,150,85.71,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
Methodist Ladies' College,2018,4,92.00,139,133,95.68,Claremont,115.775540,-31.987012,Non-government,Girls,Methodist
St Hilda's Anglican School for Girls,2018,5,91.65,141,135,95.74,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...
Newton Moore Senior High School,2018,144,55.55,81,29,35.80,South Bunbury,115.635421,-33.359211,Government,Co-ed,Secular
Northam Senior High School,2018,145,53.70,88,27,30.68,Northam,116.667649,-31.647256,Government,Co-ed,Secular
Dalyellup College,2018,146,51.90,70,29,41.43,Dalyellup,115.625767,-33.403855,Government,Co-ed,Secular
Rockingham Senior High School,2018,147,47.90,98,22,22.45,Rockingham,115.735520,-32.284952,Government,Co-ed,Secular
Western Australian College Of Agriculture - Cunderdin,2018,148,32.50,61,22,36.07,Cunderdin,117.230704,-31.626847,Government,Co-ed,Secular

In [89]:
# set the column "School" as the index for the "atar_2019_df" Dataframe
atar_2019_db = atar_2019_df.set_index('School')
atar_2019_db

,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2019,1,96.75,241,238,98.76,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
Hale School,2019,2,92.85,201,177,88.06,Wembley Downs,115.783783,-31.912322,Non-government,Boys,Anglican
Christ Church Grammar School,2019,3,92.50,199,178,89.45,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
St Mary's Anglican Girls' School,2019,4,91.15,161,137,85.09,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
Presbyterian Ladies' College,2019,5,90.75,123,116,94.31,Peppermint Grove,115.764906,-31.993592,Non-government,Girls,Uniting
...,...,...,...,...,...,...,...,...,...,...,...,...
Warwick Senior High School,2019,138,60.80,77,24,31.17,Warwick,115.815429,-31.838675,Government,Co-ed,Secular
Byford Secondary College,2019,139,60.00,134,45,33.58,Byford,116.001879,-32.223432,Government,Co-ed,Secular
Hedland Senior High School,2019,140,55.95,80,21,26.25,South Hedland,118.598616,-20.398789,Government,Co-ed,Secular
Merredin College,2019,141,55.20,54,23,42.59,Merredin,118.284982,-31.488090,Government,Co-ed,Secular
Joseph Banks Secondary College,2019,142,41.85,171,68,39.77,Banksia Grove,115.796591,-31.698674,Government,Co-ed,Secular

In [90]:
# set the column "School" as the index for the "atar_2020_df" Dataframe
atar_2020_db = atar_2020_df.set_index('School')
atar_2020_db

,Year,Rank,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,Percentage of students with an ATAR,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2020,1,97.55,242,242,100.00,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
St Hilda's Anglican School for Girls,2020,2,92.70,147,134,91.16,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
Christ Church Grammar School,2020,3,92.50,190,175,92.11,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
Penrhos College,2020,4,90.65,135,116,85.93,Como,115.872539,-31.997431,Non-government,Girls,Uniting
Methodist Ladies' College,2020,5,90.55,126,112,88.89,Claremont,115.775540,-31.987012,Non-government,Girls,Methodist
...,...,...,...,...,...,...,...,...,...,...,...,...
Balcatta Senior High School,2020,135,60.40,76,20,26.32,Balcatta,115.812243,-31.875517,Government,Co-ed,Secular
Safety Bay Senior High School,2020,136,58.75,115,23,20.00,Safety Bay,115.740964,-32.303286,Government,Co-ed,Secular
Darling Range Sports College,2020,137,52.40,129,44,34.11,Forrestfield,116.010860,-31.975661,Government,Co-ed,Secular
Gilmore College,2020,138,52.25,141,23,16.31,Orelia,115.814803,-32.238266,Government,Co-ed,Secular
Cecil Andrews College,2020,139,49.85,77,20,25.97,Armadale,115.991883,-32.141187,Government,Co-ed,Secular

In [91]:
# set the column "School" as the index for the "icsea_2016_df" Dataframe
icsea_2016_db = icsea_2016_df.set_index('School')
icsea_2016_db

,Year,Rank,Postcode,State Overall Score,Total Enrolments,ICSEA,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2016,1,6008,100,1336,1239,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
Christ Church Grammar School,2016,2,6010,100,1663,1180,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
International School of Western Australia,2016,3,6015,100,235,1182,Doubleview,115.777620,-31.898500,Government,Co-ed,Secular
Hale School,2016,4,6019,100,1486,1165,Wembley Downs,115.783783,-31.912322,Non-government,Boys,Anglican
St Mary's Anglican Girls' School,2016,5,6018,99,1385,1158,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...
Bunbury Catholic College,2016,68,6230,91,1370,1035,Bunbury,115.661424,-33.343422,Non-government,Co-ed,Catholic
St Norbert College,2016,69,6107,90,890,1044,Queens Park,115.940344,-32.004364,Non-government,Co-ed,Catholic
Kalbarri District High School,2016,70,6536,90,220,988,Kalbarri,114.163881,-27.712788,Government,Co-ed,Secular
Tranby College,2016,71,6171,90,884,1066,Baldivis,115.800243,-32.340570,Non-government,Co-ed,Uniting
Denmark Senior High School,2016,72,6333,90,401,1038,Denmark,117.364584,-34.957414,Government,Co-ed,Secular

In [92]:
# set the column "School" as the index for the "icsea_2017_df" Dataframe
icsea_2017_db = icsea_2017_df.set_index('School')
icsea_2017_db

,Year,Rank,Postcode,State Overall Score,Total Enrolments,ICSEA,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2017,1,6008,100,1371,1239,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
International School of Western Australia,2017,2,6015,100,270,1182,Doubleview,115.777620,-31.898500,Government,Co-ed,Secular
Hale School,2017,3,6019,100,1489,1165,Wembley Downs,115.783783,-31.912322,Non-government,Boys,Anglican
Methodist Ladies' College,2017,4,6010,100,1151,1150,Claremont,115.775540,-31.987012,Non-government,Girls,Methodist
Christ Church Grammar School,2017,5,6010,100,1651,1180,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...
Bruce Rock District High School,2017,85,6418,90,142,952,Bruce Rock,118.147663,-31.873635,Government,Co-ed,Secular
Ashdale Secondary College,2017,86,6065,90,1536,1030,Darch,115.841495,-31.811623,Government,Co-ed,Secular
St Mary Mackillop College,2017,87,6280,90,1252,1045,Busselton,115.330251,-33.662607,Non-government,Co-ed,Catholic
Ellenbrook Christian College,2017,88,6069,90,553,1043,Ellenbrook,115.959178,-31.786783,Non-government,Co-ed,Christian
Margaret River Senior High School,2017,89,6285,90,991,1037,Margaret River,115.074671,-33.954318,Government,Co-ed,Secular

In [93]:
# set the column "School" as the index for the "icsea_2018_df" Dataframe
icsea_2018_db = icsea_2018_df.set_index('School')
icsea_2018_db

,Year,Rank,Postcode,State Overall Score,Total Enrolments,ICSEA,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2018,1,6008,100,1411,1239,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
Christ Church Grammar School,2018,2,6010,100,1644,1180,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
Hale School,2018,3,6019,100,1504,1165,Wembley Downs,115.783783,-31.912322,Non-government,Boys,Anglican
Rossmoyne Senior High School,2018,4,6148,100,2122,1121,Rossmoyne,115.870546,-32.046265,Government,Co-ed,Secular
St Hilda's Anglican School for Girls,2018,5,6012,100,1121,1197,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...
Mandurah Baptist College,2018,89,6180,90,1174,1051,Lakelands,115.760118,-32.478307,Non-government,Co-ed,Baptist
Ashdale Secondary College,2018,90,6065,90,1597,1030,Darch,115.841495,-31.811623,Government,Co-ed,Secular
St Mary Mackillop College,2018,91,6280,90,1326,1045,Busselton,115.330251,-33.662607,Non-government,Co-ed,Catholic
John Wollaston Anglican Community School,2018,92,6111,90,897,1054,Camillo,116.007834,-32.104726,Non-government,Co-ed,Anglican
Bunbury Catholic College,2018,93,6230,90,1415,1035,Bunbury,115.661424,-33.343422,Non-government,Co-ed,Catholic

In [94]:
# set the column "School" as the index for the "icsea_2019_df" Dataframe
icsea_2019_db = icsea_2019_df.set_index('School')
icsea_2019_db

,Year,Rank,Postcode,State Overall Score,Total Enrolments,ICSEA,Suburb,Longitude,Latitude,Sector,Gender,Religion
School,,,,,,,,,,,,
Perth Modern School,2019,1,6008,100,1418,1239,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
St Hilda's Anglican School for Girls,2019,2,6012,100,1087,1197,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
Christ Church Grammar School,2019,3,6010,100,1646,1180,Claremont,115.776987,-31.985461,Non-government,Boys,Anglican
Rossmoyne Senior High School,2019,4,6148,100,2188,1121,Rossmoyne,115.870546,-32.046265,Government,Co-ed,Secular
St Mary's Anglican Girls' School,2019,5,6018,100,1414,1158,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
...,...,...,...,...,...,...,...,...,...,...,...,...
Swan Valley Anglican Community School,2019,90,6069,90,1031,1045,Aveley,115.985452,-31.794345,Non-government,Co-ed,Anglican
Boyup Brook District High School,2019,91,6244,90,162,1002,Boyup Brook,116.391338,-33.836347,Government,Co-ed,Secular
Mater Dei College,2019,92,6027,90,804,1055,Edgewater,115.776519,-31.764660,Non-government,Co-ed,Catholic
Emmanuel Catholic College,2019,93,6164,90,1061,1036,Success,115.840070,-32.128578,Non-government,Co-ed,Catholic
Emmanuel Christian Community School,2019,94,6064,90,552,980,Girrawheen,115.848262,-31.846204,Non-government,Co-ed,Christian

In [95]:
# create a connection with PostgreSQL with the database "schools"
connection_string = f"{username}:{password}@localhost:5432/schools"
engine = create_engine(f'postgresql://{connection_string}')

In [96]:
# check the table name/s in the database "schools"
engine.table_names()

['atar_ratings',
 'naplan_ratings',
 'atar_2016_ratings',
 'atar_2017_ratings',
 'atar_2018_ratings',
 'atar_2019_ratings',
 'atar_2020_ratings',
 'icsea_2016_ratings',
 'icsea_2017_ratings',
 'icsea_2018_ratings',
 'icsea_2019_ratings']

In [97]:
# check the column names in the table "naplan_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('naplan_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Level', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Reading', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Writing', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Spelling', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Grammar', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Numeracy', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Average', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [98]:
# check the column names in the table "atar_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2016_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [99]:
# check the column names in the table "atar_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2017_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [100]:
# check the column names in the table "atar_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2018_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [101]:
# check the column names in the table "atar_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2019_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [102]:
# check the column names in the table "atar_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2020_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [103]:
# check the column names in the table "icsea_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2016_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [104]:
# check the column names in the table "icsea_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2017_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [105]:
# check the column names in the table "icsea_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2018_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [106]:
# check the column names in the table "icsea_ratings"
inspector=inspect(engine)
columns=inspector.get_columns('atar_2019_ratings')
for column in columns:
    print(column)

{'name': 'School', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Year', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rank', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Median ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. eligible Yr 12 students', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'No. Students with an ATAR', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Percentage of students with an ATAR', 'type': NUMERIC(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Suburb', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Longitude', 'type': NUMERIC(precision=10, scale=7), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Latitude', 'type': NUMERIC(precision=10, scale=8), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Sector', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gender', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Religion', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [107]:
# delete the contents of all tables
engine.execute("DELETE FROM naplan_ratings")
engine.execute("DELETE FROM atar_2016_ratings")
engine.execute("DELETE FROM atar_2017_ratings")
engine.execute("DELETE FROM atar_2018_ratings")
engine.execute("DELETE FROM atar_2019_ratings")
engine.execute("DELETE FROM atar_2020_ratings")
engine.execute("DELETE FROM icsea_2016_ratings")
engine.execute("DELETE FROM icsea_2017_ratings")
engine.execute("DELETE FROM icsea_2018_ratings")
engine.execute("DELETE FROM icsea_2019_ratings")

In [108]:
# export the "naplan_db" data to the table "naplan_ratings"
naplan_db.to_sql(name='naplan_ratings', con=engine, if_exists='append', index=True)

In [109]:
# export the "atar_2016_db" data to the table "atar_2016_ratings"
atar_2016_db.to_sql(name='atar_2016_ratings', con=engine, if_exists='append', index=True)

In [110]:
# export the "atar_2017_db" data to the table "atar_2017_ratings"
atar_2017_db.to_sql(name='atar_2017_ratings', con=engine, if_exists='append', index=True)

In [111]:
# export the "atar_2018_db" data to the table "atar_2018_ratings"
atar_2018_db.to_sql(name='atar_2018_ratings', con=engine, if_exists='append', index=True)

In [112]:
# export the "atar_2019_db" data to the table "atar_2019_ratings"
atar_2019_db.to_sql(name='atar_2019_ratings', con=engine, if_exists='append', index=True)

In [113]:
# export the "atar_2020_db" data to the table "atar_2020_ratings"
atar_2020_db.to_sql(name='atar_2020_ratings', con=engine, if_exists='append', index=True)

In [114]:
# export the "icsea_2016_db" data to the table "icsea_2016_ratings"
icsea_2016_db.to_sql(name='icsea_2016_ratings', con=engine, if_exists='append', index=True)

In [115]:
# export the "icsea_2017_db" data to the table "icsea_2017_ratings"
icsea_2017_db.to_sql(name='icsea_2017_ratings', con=engine, if_exists='append', index=True)

In [116]:
# export the "icsea_2018_db" data to the table "icsea_2018_ratings"
icsea_2018_db.to_sql(name='icsea_2018_ratings', con=engine, if_exists='append', index=True)

In [117]:
# export the "icsea_2019_db" data to the table "icsea_2019_ratings"
icsea_2019_db.to_sql(name='icsea_2019_ratings', con=engine, if_exists='append', index=True)